@import url("https://fonts.googleapis.com/css?family=Montserrat:500");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: “Montserrat”, sans-serif;
    /* background-color: gray; */
    color: white;
}

body{
    background-color: #000311;
}

.head{
    height: 100vh;
    width: 100%;
    /* background-image: url(assests/img.png);     */
    background-image: url(assests/grid.webp);    
    background-size: cover;
    background-position: center;
    border-radius: 0px 0px 0px 100px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10%;
}

li, a, button {
    font-weight: 500;
    font-size: 16px;
    /* color: gray; */
    text-decoration: none;
}

.logo{
    font-size: 40px;
    cursor: pointer;
}
span{
    color: red;
}

.nav_links {
    list-style: none;
}
    
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}
   
.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: skyblue;
}
    
button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0,136,169,0.8);
}

.main{
    /* background-color: rgba(0,136,169,0.5); */
    position: absolute;
    top: 25%;
    left: 10%;
    /* margin: 60px 10%; */
}

.heading{
    font-size: 50px;
}

/* this class is just for bottom margin*/ 
.m{
    margin-bottom: 20px;
}

.para{
    padding-left: 30px;
}

.about{
    top: -20%;
    height: 100vh;
    width: 100%;
    background-color: #00ffd8;
    background-repeat: no-repeat;
    background-image: url(assests/about.svg);
    background-size:stretch;
    /* background-position: center; */
    border-radius: 0px 0px 100px 0px;
}